
body {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    margin: 2em auto;
    gap: 2%;


}

div {

    height: 300px;
    width: 25%;
    background: url(planet.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;



}
   